<!--The content below is only a placeholder and can be replaced.-->
<uoh-accessibility dir="rtl">
  <uoh-spinner></uoh-spinner>
  <uoh-header title="בדיקה" subtitle="שם מאוד ארוך לבדיקה" [user]="user" (logOut)="logOut()">
    <a uohHeaderLink="https://www.haifa.ac.il">Test 0!</a> <a uohHeaderLink="https://www.google.com">Test 1!</a>
  </uoh-header>
  <uoh-back-to-top minScroll="100"></uoh-back-to-top>
  <uoh-content [fullMobile]="true">
    <router-outlet></router-outlet>
    <div *ngIf="show" style="text-align:center">
      <h1>Welcome to {{ title }}!</h1>
      <table>
        <tr>
          <th>שם</th>
          <th>תפקיד</th>
        </tr>
        <tr *ngFor="let row of data">
          <td class="row-title"><input type="checkbox" /> {{ row.c1 }}</td>
          <td title="תפקיד">{{ row.c2 }}</td>
        </tr>
      </table>

      <div class="error">This is an error message.</div>
      <div class="success">This is a success message.</div>
      <button class="error-fill" (click)="load()">Load</button>
      <button class="success-fill" *ngIf="!user" (click)="logIn()">Log in</button>
      <p><a [routerLink]="['one']">Go to one</a> <a [routerLink]="['two']">Go to two</a></p>
    </div>
  </uoh-content>
  <uoh-footer [version]="false"></uoh-footer>
</uoh-accessibility>
