/* You can add global styles to this file, and also import other style files */
@import './dist/uoh/ngx-theme/theme';

$config: (
  layout: true,
  table: true,
  accessibility: true,
  header: true,
  footer: true,
  spinner: true
);

@include uoh-theme($config...);

.uoh-back-to-top {
  display: none;
}

@media only screen and (max-width: 600px) {
  .uoh-back-to-top {
    display: block;
  }
}
