/* You can add global styles to this file, and also import other style files */
@import './dist/uoh/ngx-theme/theme';

$config: (
  layout: true,
  accessibility: true,
  header: true
);

@include uoh-theme($config...);
