<form (ngSubmit)="openSnackBar(nameInput.value, optionInput.value)">
  <mat-card class="small-card">
    <mat-card-header>
      <mat-card-title>One works!</mat-card-title>
    </mat-card-header>
    <mat-card-content style="display: flex; flex-direction: column">
      <mat-form-field>
        <input matInput type="text" placeholder="שם" #nameInput>
      </mat-form-field>
      <mat-checkbox name="test" value="test">בדיקה</mat-checkbox>
      <mat-form-field>
        <mat-select placeholder="אפשרות" #optionInput>
          <mat-option *ngFor="let option of options" [value]="option">
            {{option}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-radio-group>
        <mat-radio-button *ngFor="let option of options" [value]="option">
          {{option}}
        </mat-radio-button>
      </mat-radio-group>
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="בחר תאריך">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ut sodales sapien. Vivamus luctus elit urna, in elementum
        eros convallis ac. Sed tincidunt ac ante quis tincidunt. Aliquam tristique tempus ligula, sit amet euismod massa.
        Curabitur eget elit at orci dictum consectetur at eget neque. Nullam malesuada tempus tortor, vel sodales lacus dictum
        eget. Curabitur imperdiet in nibh sed dictum. Curabitur venenatis, libero vel ullamcorper tempus, enim arcu posuere
        nunc, nec vulputate arcu turpis eget dui. Maecenas pellentesque sem non neque porta dictum. Curabitur vestibulum
        metus in est malesuada posuere. Nulla ut faucibus arcu, vel efficitur sapien. Vivamus dictum ipsum nunc. Praesent
        libero sem, sagittis non pretium a, scelerisque vel orci. Ut blandit tellus vel turpis dapibus gravida. Cras sed
        nisl volutpat magna laoreet semper. Pellentesque tempus efficitur elit id tincidunt. Aliquam a metus mi. Donec aliquet
        consectetur neque, ut luctus nisl viverra porta. Praesent eget nibh maximus, condimentum urna non, tincidunt leo.
        Ut ut lacus mollis, convallis ex sit amet, fringilla mauris. Donec auctor sed purus eu hendrerit. Morbi posuere sit
        amet sapien eu efficitur. Nam tristique vehicula tellus, at posuere urna. Vestibulum tincidunt sapien eu posuere
        ornare. Integer varius tellus sed ipsum dignissim, vitae commodo est fringilla. Donec cursus eros bibendum risus
        pellentesque, in aliquet nisi sollicitudin. Sed tempor, elit non consequat tempor, erat erat lobortis lacus, vel
        efficitur leo ex ut augue. Aenean condimentum risus quis ex varius maximus sit amet ac erat. Ut vestibulum fermentum
        elit et vehicula. Quisque pretium, ligula non gravida lobortis, metus turpis pharetra libero, cursus varius sapien
        nulla ac lacus. Integer accumsan, orci sit amet vulputate blandit, magna erat laoreet enim, non luctus dui tellus
        eget mauris. Quisque nunc nisl, rutrum sit amet diam et, condimentum efficitur erat. Sed libero augue, aliquam eget
        lacus vitae, pulvinar porta mauris. Cras molestie felis posuere magna luctus feugiat. Praesent euismod sit amet nisi
        non commodo. Proin congue efficitur lacus ut pulvinar. Praesent facilisis, eros ac tempus lobortis, lectus nisl porta
        felis, nec lacinia quam lectus sit amet lectus. Sed in tortor ac ligula tempus pellentesque. Donec a viverra est,
        ut pretium orci. Quisque congue lobortis elit sed pulvinar. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Ut id dolor ac orci placerat elementum. Quisque vestibulum et nibh quis vehicula. Fusce in quam ligula. Nulla nisi
        erat, commodo vel facilisis malesuada, imperdiet eu sapien. Morbi lorem augue, lobortis non euismod quis, pulvinar
        id nibh. Morbi porttitor semper enim porta laoreet. In hac habitasse platea dictumst. Aenean pretium quam scelerisque
        felis porttitor porta. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc porta, urna ut tincidunt
        efficitur, purus arcu volutpat est, eget euismod tellus enim et sem. Proin gravida lorem sed dolor tincidunt eleifend.
        Pellentesque in porta ipsum. Fusce id tincidunt lectus. Donec quis lacinia odio. Vestibulum commodo finibus est.
        Nulla eleifend in odio sed blandit. Quisque malesuada porta urna vel egestas. Nam ex mi, molestie sed erat id, elementum
        tempor dolor. Nam sagittis consectetur efficitur. Vestibulum blandit purus non venenatis sollicitudin. Curabitur
        vel ultricies nibh. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
      </p>
      <a href="#">This is a link</a>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">שליחה</button>
      <button mat-raised-button color="warn" type="reset">איפוס</button>
      <button mat-raised-button color="accent">ביטול</button>
      <button mat-raised-button>סגירה</button>
    </mat-card-actions>
  </mat-card>
</form>